@media screen and (min-width:1099px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        }
    
        body,html {
          padding: 0;
          margin: 0;
          }
    
        .wrapper {
          display: grid;
          height:100%;
          width:100%;
          font-family: 'Nunito', sans-serif;
          grid-template-columns: repeat(4, 25%);
          grid-template-rows: repeat(4, 25%);
          grid-column-gap:0px;
        }
    
        .topbar {
          grid-column: 1 / 5;
          grid-row: 1;
          height: 60%;
          background-color: rgba(255, 255, 255, 0.801);
      }
      
      /* dropdown */
      /* Dropdown Button */
      .dropbtn {
        background-color: rgba(255, 255, 255, 0.801);
        height: 100%;
        width: 210px;
        padding: 10px;
        border: none;
      }
      
      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        grid-column: 1;
        grid-row: 1;
        height: 60%;
        position: relative;
        display: inline-block;
      }
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.801);
        min-width: 210px;
        z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        color: #3C658E;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {
        background-color: rgb(255, 255, 255);
      }
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover .dropbtn {
        background-color: rgb(255, 255, 255)
      }
      
      .home{
        grid-column: 2;
        grid-row: 1;
      }
    
      .icon2 {
          grid-column: 2;
          grid-row: 1;
          width:30%;
          margin-left: 90%;
          margin-top:10px;
      }
    
      .label {
        grid-column: 1 / 3;
        grid-row: 1;
        color:#3C658E;
        font-weight: 800;
        font-size: 30pt;
        text-align: left;
        margin-left: 16%;
        margin-top: 2%;
      }
    
      .menu {
        grid-column: 1;
        grid-row: 1;
        width: 25%;
    }
    
        h1{
          letter-spacing: 2px;
        }
        p{
          margin-left:11px;
          letter-spacing: 10px;
          font-weight: 600;
        }
       
        h5{
          font-weight: 400;
          font-size: 10px;
        }
      .spacing{
        font-size: 5px;
      }
    
    body {
      font-family: 'Nunito', sans-serif;
    }
    
    /* the main container */
    
    .corner {
      grid-column: 1 / 2;
      grid-row: 2 / 4;
      width: 195px;
      margin-left: 93%;
    }
    
    .cornerb {
      grid-column: 2 / 3;
      grid-row: 2 / 4;
      width: 195px;
      margin-left: 93%;
    }
    
    .back-side {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      background-image: url('S_front.svg');
      width: 216px;
      height: 377px;
      margin-top: 20px;
      position: relative;
      /* adjust this to space out the cards */
      overflow: hidden;
      box-shadow: 2px 5px 15px 0px #35323294;
      background-color: ghostwhite;
    }
    
    
    
    .front-side{
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      background-image: url('S_back.svg');
      width: 216px;
      height: 377px;
      margin-top: 20px;
      position: relative;
      /* adjust this to space out the cards */
      overflow: hidden;
      box-shadow: 2px 5px 15px 0px #35323294;
      background-color: ghostwhite;
    }
    
    .name{
      display: grid;
      position: relative;
      margin-top:50px;
      margin-left:0px;
      padding: 0px
    
    }
    /* secondary info */
    .secondary{
      display: grid;
      position: relative;
      margin-top: 80px;
      margin-left:15px;
    
    }
    a:link {
      text-decoration: none;
    }
    
    a:visited {
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
    }
    
    a:active {
      text-decoration: underline;
    }
    
    .contact {
      grid-column: 1 / 5;
      grid-row: 4 / 5;
      margin-top:5%;
    }
    
    ul li {
      display:inline;
    }
    
    .insta {
      width: 40px;
      fill:#3C658E;
      margin-left: 570px; 
      margin-bottom: 25px;
    }
    
    .insta:hover {
      fill: #ffffff;
    }
    
    .linkedin {
      width: 42px;
      fill:#3C658E;
      margin-top: 75px;
      margin-left: 30px;
      margin-bottom: 25px;
    }
    
    .linkedin:hover {
      fill: #ffffff;
    }
    
    .twitter {
      width: 42px;
      fill:#3C658E;
      margin-left: 30px;
      margin-bottom: 25px;
    }
    .twitter:hover {
      fill: #ffffff;
    }
    }
    @media screen and (max-width:1099px) and (min-width:812px) {
         *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        }
    
        body,html {
          padding: 0;
          margin: 0;
          }

        .wrapper {
            height:670px;  
            width:100%;
            display: grid;
            grid-template-columns: repeat(4, 25%);
            grid-template-rows: repeat(4, 25%);
            grid-gap: 1px;
            font-family: 'Nunito', sans-serif;
        }

        .topbar {
            grid-column: 1 / 5;
            grid-row: 1;
            height: 40%;
            background-color: rgba(255, 255, 255, 0.801);
          }
        
          .dropbtn {
            background-color: rgba(255, 255, 255, 0.801);
            height: 40%;
            width: 110px;
            padding: 10px;
            border: none;
          }
          
          /* The container <div> - needed to position the dropdown content */
          .dropdown {
            grid-column: 1;
            grid-row: 1;
            width:110px;
            position: relative;
            display: inline-block;
          }
          
          /* Dropdown Content (Hidden by Default) */
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.801);
            min-width: 110px;
            z-index: 1;
          }
          
          /* Links inside the dropdown */
          .dropdown-content a {
            color: #3C658E;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          
          /* Change color of dropdown links on hover */
          .dropdown-content a:hover {background-color: rgb(255, 255, 255);}
          
          /* Show the dropdown menu on hover */
          .dropdown:hover .dropdown-content {display: block;}
          
          /* Change the background color of the dropdown button when the dropdown content is shown */
          .dropdown:hover .dropbtn {background-color: rgb(255, 255, 255)}
          
          .home{
            grid-column: 2;
            grid-row: 1;
          }

          .icon2 {
            width:60px;
            grid-row:1 / 2;
            grid-column:2;
            margin-left:160px;
            margin-top: 6px;
          }
          
          .menu {
            grid-column: 1;
            grid-row: 1;
            width: 20px;
          }

          .label {
            grid-column: 1 / 2;
            grid-row: 1;
            color:#3C658E;
            font-weight: 600;
            font-size: 15pt;
            text-align: left;
            margin-left: 23%;
            margin-top: 20px;
          }

          h1{
            letter-spacing: 2px;
          }
          p{
            margin-left:11px;
            letter-spacing: 10px;
            font-weight: 600;
          }
         
          h5{
            font-weight: 400;
            font-size: 10px;
          }
        .spacing{
          font-size: 5px;
        }
      
      body {
        font-family: 'Nunito', sans-serif;
      }

      .corner {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        width: 195px;
        margin-top: 145px;
        margin-left: 115%;
      }
      
      .cornerb {
        grid-column: 1 / 3;
        grid-row: 4 / 6;
        width: 195px;
        margin-top:105px;
        margin-left: 60%;
      }

      .back-side {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        background-image: url('S_front.svg');
        width: 200px;
        height: 350px;
        margin-left:40%;
        position: relative;
        /* adjust this to space out the cards */
        overflow: hidden;
        box-shadow: 2px 5px 15px 0px #35323294;
        background-color: ghostwhite;
      }

      .front-side{
        grid-column: 2 / 3;
        grid-row: 4 /6;
        background-image: url('S_back.svg');
        width: 200px;
        height: 350px;
        margin-top: 130px;
        margin-left:40%;
        position: relative;
        /* adjust this to space out the cards */
        overflow: hidden;
        box-shadow: 2px 5px 15px 0px #35323294;
        background-color: ghostwhite;
      }

      .name{
        display: grid;
        position: relative;
        margin-top:50px;
        margin-left:0px;
        padding: 0px
      
      }
      /* secondary info */
      .secondary{
        display: grid;
        position: relative;
        margin-top: 80px;
        margin-left:15px;
      
      }
      a:link {
        text-decoration: none;
      }
      
      a:visited {
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: underline;
      }
      
      a:active {
        text-decoration: underline;
      }

      .contact {
        grid-column: 1 / 5;
        grid-row: 9 / 10;
        margin-top:15%;
      }
      
      
      ul li {
        display:inline;
      }
      
      .insta {
        /* grid-column: 3;
        grid-row: 8 / 9; */
        width: 20px;
        fill:#3C658E;
        margin-top: 0px;
        margin-left:18%; 
      }
      
      .insta:hover {
        fill: #ffffff;
      }
      
      .linkedin {
        /* grid-column: 4;
        grid-row: 8 / 9; */
        width: 23px;
        fill:#3C658E;
        margin-top: 20px;
        margin-left: 23px;
      }
      
      .linkedin:hover {
        fill: #ffffff;
      }
      
      .twitter {
        /* grid-column:4;
        grid-row: 8 / 9; */
        width: 23px;
        fill:#3C658E;
        margin-left: 23px;
      }
      .twitter:hover {
        fill: #ffffff;
      }
    }

    @media screen and (max-width:812px){
        *{
       padding: 0;
       margin: 0;
       box-sizing: border-box;
       }
   
       body,html {
         padding: 0;
         margin: 0;
         }

       .wrapper {
           height:670px;  
           width:800px;
           display: grid;
           grid-template-columns: repeat(4, 25%);
           grid-template-rows: repeat(4, 25%);
           grid-gap: 1px;
           font-family: 'Nunito', sans-serif;
       }

       .topbar {
           grid-column: 1 / 5;
           grid-row: 1;
           height: 40%;
           background-color: rgba(255, 255, 255, 0.801);
         }
       
         .dropbtn {
           background-color: rgba(255, 255, 255, 0.801);
           height: 100%;
           width: 110px;
           padding: 10px;
           border: none;
         }
         
         /* The container <div> - needed to position the dropdown content */
         .dropdown {
           grid-column: 1;
           grid-row: 1;
           width:110px;
           height:40%;
           position: relative;
           display: inline-block;
         }
         
         /* Dropdown Content (Hidden by Default) */
         .dropdown-content {
           display: none;
           position: absolute;
           background-color: rgba(255, 255, 255, 0.801);
           min-width: 110px;
           z-index: 1;
         }
         
         /* Links inside the dropdown */
         .dropdown-content a {
           color: #3C658E;
           padding: 12px 16px;
           text-decoration: none;
           display: block;
         }
         
         /* Change color of dropdown links on hover */
         .dropdown-content a:hover {background-color: rgb(255, 255, 255);}
         
         /* Show the dropdown menu on hover */
         .dropdown:hover .dropdown-content {display: block;}
         
         /* Change the background color of the dropdown button when the dropdown content is shown */
         .dropdown:hover .dropbtn {background-color: rgb(255, 255, 255)}
         
         .home{
           grid-column: 2;
           grid-row: 1;
         }

         .icon2 {
           width:60px;
           grid-row:1 / 2;
           grid-column:2;
           margin-left: 170px;
           margin-top: 6px;
         }
         
         .menu {
           grid-column: 1;
           grid-row: 1;
           width: 20px;
         }

         .label {
           grid-column: 1 / 2;
           grid-row: 1;
           color:#3C658E;
           font-weight: 600;
           font-size: 15pt;
           text-align: left;
           margin-left: 120px;
           margin-top: 20px;
         }

         h1{
           letter-spacing: 2px;
         }
         p{
           margin-left:11px;
           letter-spacing: 10px;
           font-weight: 600;
         }
        
         h5{
           font-weight: 400;
           font-size: 10px;
         }
       .spacing{
         font-size: 5px;
       }
     
     body {
       font-family: 'Nunito', sans-serif;
     }

     .corner {
       grid-column: 1 / 2;
       grid-row: 1 / 4;
       width: 195px;
       margin-top: 145px;
       margin-left: 250px;
     }
     
     .cornerb {
       grid-column: 1 / 3;
       grid-row: 4 / 6;
       width: 195px;
       margin-top:105px;
       margin-left: 250px;
     }

     .back-side {
       grid-column: 2 / 3;
       grid-row: 2 / 3;
       background-image: url('S_front.svg');
       width: 200px;
       height: 350px;
       margin-left:40%;
       position: relative;
       /* adjust this to space out the cards */
       overflow: hidden;
       box-shadow: 2px 5px 15px 0px #35323294;
       background-color: ghostwhite;
     }

     .front-side{
       grid-column: 2 / 3;
       grid-row: 4 /6;
       background-image: url('S_back.svg');
       width: 200px;
       height: 350px;
       margin-top: 130px;
       margin-left:40%;
       position: relative;
       /* adjust this to space out the cards */
       overflow: hidden;
       box-shadow: 2px 5px 15px 0px #35323294;
       background-color: ghostwhite;
     }

     .name{
       display: grid;
       position: relative;
       margin-top:50px;
       margin-left:0px;
       padding: 0px
     
     }
     /* secondary info */
     .secondary{
       display: grid;
       position: relative;
       margin-top: 80px;
       margin-left:15px;
     
     }
     a:link {
       text-decoration: none;
     }
     
     a:visited {
       text-decoration: none;
     }
     
     a:hover {
       text-decoration: underline;
     }
     
     a:active {
       text-decoration: underline;
     }

     .contact {
       grid-column: 1 / 5;
       grid-row: 9 / 10;
       margin-top:15%;
     }
     
     
     ul li {
       display:inline;
     }
     
     .insta {
       /* grid-column: 3;
       grid-row: 8 / 9; */
       width: 20px;
       fill:#3C658E;
       margin-top: 0px;
       margin-left:18%; 
     }
     
     .insta:hover {
       fill: #ffffff;
     }
     
     .linkedin {
       /* grid-column: 4;
       grid-row: 8 / 9; */
       width: 23px;
       fill:#3C658E;
       margin-top: 20px;
       margin-left: 23px;
     }
     
     .linkedin:hover {
       fill: #ffffff;
     }
     
     .twitter {
       /* grid-column:4;
       grid-row: 8 / 9; */
       width: 23px;
       fill:#3C658E;
       margin-left: 23px;
     }
     .twitter:hover {
       fill: #ffffff;
     }
   }